#mobile-profile-img {
  display: block !important;
}

#logout-form {
  display: none;
}

input[readonly=true],
input[readonly] {
  background-color: white !important;
}

.panel-item-file > .panel-heading > .item-file-title {
  font-size: 1.2em;
}

.panel-item-file > .panel-heading > .fa,
.panel-item-file > .panel-heading .fa {
  font-size: 1.5em;
  cursor: pointer;
}

.panel-item-file > .panel-heading > .btn-delete-item-file {
  color: red;
}

.panel-item-file > .panel-heading .btn-view-item-file {
  color: black;
}

.btn-delete,
.fa.fa-trash-o {
  color: red;
}

#notification-wrapper li a#trigger-notif {
  padding: 4px;
  border: 1px solid #666666;
  margin-top: 5px !important;
}

#notification-wrapper ul.dropdown-menu {
  width: 400px;
}

#notification-wrapper ul.dropdown-menu h1 {
  padding: 5px 10px;
}

#notification-wrapper ul.dropdown-menu .notif-rows a {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid grey;
}

#notification-wrapper ul.dropdown-menu .notif-rows li.notif-read {
  background-color: transparent;
}

#notification-wrapper ul.dropdown-menu .notif-rows li.notif-unread {
  background-color: rgba(0, 0, 0, 0.2);
}

