#mobile-profile-img {
    display: block !important;
}

#logout-form {
    display: none;
}

input[readonly=true], input[readonly] {
    background-color: white !important;
}

.panel-item-file {
    &>.panel-heading {
        &>.item-file-title {
            font-size: 1.2em;
        }

        &> .fa, .fa {
            font-size: 1.5em;
            cursor: pointer;
        }

        &> .btn-delete-item-file {
            color: red;
        }

        & .btn-view-item-file {
            color: black;
        }
    }
}

.btn-delete, .fa.fa-trash-o {
    color: red;
}

#notification-wrapper {
    li a#trigger-notif {
        padding: 4px;
        border: 1px solid #666666;
        margin-top: 5px !important;
    }
    ul.dropdown-menu {
        width: 400px;
        h1 {
            padding: 5px 10px;
        }
        .notif-rows {
            a {
                display: block;
                width: 100%;
                padding: 10px;
                border-top: 1px solid grey;
            }
            li {
                &.notif-read {
                    background-color: rgba(0,0,0,0);
                }
                &.notif-unread {
                    background-color: rgba(0,0,0,.2);
                }
            }
        }
    }
}
